/* line 1, ../scss/index-cover.scss */
html {
  background: url(/images/dru-serious.jpg) no-repeat left top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
