/* line 1, ../scss/index-cover.scss */
html {
  background: url(/images/dru-serious-2.png) no-repeat left top fixed;
  background-color: #2b2525;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
