<div class="container">
  <div class="imgbar">
    <img src="/images/everest-trip.jpg" />
  </div><!-- /imgbar -->

  <div style="clear:both;"></div>

  <h1>Everest Trip</h1>

  <p>Some words</p>

  <h3>Elevations of the trip</h3>
  <div>
    <script type="text/javascript" data-module="everest">
      {{{json timeline}}}
    </script>
  </div>
  <table>
  	<thead>
  		<tr>
  			<th>Date</th>
  			<th>Location</th>
  			<th>Elevation</th>
  		</tr>
  	</thead>
  	<tbody>
  		{{#each timeline}}
  		<tr>
  			<td>{{d}}</td>
  			<td>{{l}}</td>
  			<td>{{e}}</td>
  		</tr>
  		{{/each}}
  	</tbody>
  </table>
</div>
