<!-- inspiration: http://secondandpark.com/ -->

<div class="container">
  <div class="header">
    <div class="logo">
        <img src="images/logo-black.png" alt="Dru Sellers" />
    </div>
    <div class="details">
      <div id="hcard-Dru-Sellers" class="vcard">
        <span class="fn">Dru Sellers</span>
        <div class="email"><a href="mailto:dru@drusellers.com">dru@drusellers.com</a></div>
        <div class="twitter"><a href="http://twitter.com/drusellers">@drusellers</a></div>
        <div class="adr">
            <div class="street-address"></div>
            <span class="locality">Austin</span>,
            <span class="region">TX</span>
            <span class="postal-code">78723</span>
            <span class="country-name">USA</span>
        </div>
        <div class="tel">+1 785/371-4589</div>
      </div><!-- /hcard -->
    </div>
  </div><!-- /header -->

  <div style="clear:both;"></div>

  <div class="imgbar">
    <div class="image">
      <img width="584px" src="/images/cooking.jpg" />
    </div>
  </div><!-- /imgbar -->

  <div style="clear:both;"></div>
  <div class="thing">
      <blockquote>Who wants a burger?</blockquote>
  </div>

  <div class="role">
    <h2><small>An</small> Engineer</h2>
    <p>I love building systems, I love learning about how systems are constructed and designed. There is something about unravelling the thoughts of someone else that I find very rewarding. Code and software have given me an outlet that I would never have imagined possible to explore and learn from. If you want to follow along with my adventures in code, you can find me over at <a href="http://codebetter.com/drusellers">CodeBetter</a> </p>

    <ul class="resources">
      <li><a href="http://github.com/drusellers">github</a></li>
      {{! <li><a href="/resume">resume</a></li> }}
    </ul>

  </div>

  <div class="role">
    <h2><small>An</small> Entrepreneur</h2>
    <p><img src="/images/v23.png" /> I have also started my own apparel company, called <a target="_blank" href="http://v23athletics.com">V23 Athletics</a>. Our goal is to bring top of the line fabrics to the seekers of fitness.</p>
    <ul class="resources">
      <li><a href="http://v23athletics.com">store</a></li>
    </ul>
  </div>

  <div class="role">
    <h2><small>An</small> Athlete</h2>
    <p>
      I also spend an inordinate amount of time working out, trying to
      stay fit and in shape so that I can keep coding for as long as
      possible. I coded up a fun <a href="/prs">pr board</a> for
      myself.
    </p>
    <ul class="resources">
      <li><a href="/prs">My PR Board</a></li>
      <li><a href="/iron">Iron and the Soul</a></li>
      <li><a href="http://drusellers.tumblr.com">Quotes</a></li>
    </ul>
  </div>

  <div class="quotes">
    <ul>
      <li>
        <h3>A little zen</h3>
        <p>Water is fluid, soft and yielding. But water will wear away rock, which is rigid and cannot yield. As a rule, whatever is fluid, soft and yielding will overcome whatever is rigid and hard. This is another paradox: what is soft is strong.</p>
        <p><em>Lao-tzu</em></p>
      </li>
      <li>
        <h3>The Grind is the Glam</h3>
        <p>Live for the moment! Do what you love. If you can
        acheive this then the grind will be glamourous. Just as it
        seems glamourous to me what rock stars get to do everyday I
        know that to them its just another day in the grind. So if
        you are going to have to do the work, it should at least be
        something you love.</p>
        <p><em>Me via Jeff McKinney and Carl Paoli</em></p>
      </li>
    </ul>
  </div>

  <div id="footer">
    <div class="props">
        <h3>Props</h3>
        <p>Logo design by the <a href="http://www.theagilebadger.com">Agile Badger</a></p>
        <p>Colors inspired by '<a href="http://kuler.adobe.com/">Kuler</a>'</p>
        <p>Photo by <a href="http://b7creative.com/">B7Creative</a></p>
    </div>
    <div class="boring">
        <h3>Boring</h3>
        <p>
        Copyright since &copy;1997
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">
            <img alt="Creative Commons License" style="border-width:0;" src="http://i.creativecommons.org/l/by/3.0/us/80x15.png"/>
        </a>
        This work is licensed under a
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a>.
        </p>
    </div>
  </div>
</div>
