<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Dru Sellers</title>

        <link rel="openid.server" href="http://www.myopenid.com/server" />
        <link rel="openid.delegate" href="http://drusellers.myopenid.com/" />

        <link title="drusellers-rss" type="application/rss+xml" rel="alternate" href="http://feeds.feedburner.com/drusellers" />
        <link title="drusellers-atom" type="application/atom+xml" rel="alternate" href="http://feeds.feedburner.com/drusellers" />

        <link rel="stylesheet" href="/styles/css/base.css" type="text/css" media="screen" />

        <script type="text/javascript" src="scripts/jquery.js"></script>
        <script type="text/javascript" src="scripts/jquery.formalize.js"></script>
    </head>
    <body>
        <!-- inspiration: http://secondandpark.com/ -->
        <!-- http://www.joyent.com/ - style-->
        <!-- http://www.wallst.com/business.asp - content ideas-->


        <div id="header">
            <div class="center">
                <div class="logo">
                    <img src="images/logo-black.png" alt="Dru Sellers" />
                </div>
                <div class="details">
                    <div id="hcard-Dru-Sellers" class="vcard">
                        <span class="fn">Dru Sellers</span>
                        <div class="email"><a href="mailto:dru@drusellers.com">dru@drusellers.com</a></div>
                        <div class="twitter"><a href="http://twitter.com/drusellers">@drusellers</a></div>
                        <div class="adr">
                            <div class="street-address"></div>
                            <span class="locality">Austin</span>,
                            <span class="region">TX</span>
                            <span class="postal-code">78723</span>
                            <span class="country-name">USA</span>
                        </div>
                        <div class="tel">+1 785/371-4589</div>
                    </div><!-- /hcard -->
                </div>
            </div>
        </div><!-- /header -->

        <div style="clear:both;"></div>

        <div id="imgbar">
          <div class="center">
            <div class="images">
              <img width="584px" src="/images/cooking.jpg" />
            </div>
          </div>
        </div><!-- /imgbar -->

        <div style="clear:both;"></div>

<!--
        <div class="container_12">
          <div class="grid_12">
            <h3>The Book</h3>
          </div>
          <div class="grid_3">
            <p>I am currently trying to write a book. My goal is to publish the book on this site as I finish sections of it.</p>
          </div>
          <div class="grid_9 omega">
            <p><a href="#">Chapter 1</a></p>
            <p><a href="#">Chapter 2</a></p>

          </div>
        </div>
-->
<!--
        <div class="projects">
          <h3>OSS Projects</h3>
          <div class="project">
            <p>I am also a frequent contributor to open source software projects, as well as the maintainer on several of my own.</p>
          </div>
          <div class="project">
            <p><a target="_blank" href="http://masstransit-project.com/">MassTransit</a></p>
            <p><img src="/images/masstransit.png" />A framework for hosting event driven code responding to durable messaging</p>
          </div>
          <div class="project">
            <p><a target="_blank" href="http://topshelf-project.com">Topshelf</a></p>
            <p><img src="/images/topshelf.png"/> An framework for simplifing service hosting on the Windows and Unix operating systems</p>

          </div>
          <div class="project">
            <p><a target="_blank" href="http://fubu-project.org/">FubuMVC</a></p>
            <p><img src="/images/fubumvc.png" /> An alternative web framework for building complex web applications</p>
          </div>
        </div>
        <br style="clear:both" />
      -->
        <div id="footer">
            <div class="center">
              <div class="links">
                <h3>Code</h3>
                <p>I love building systems, I love learning about how systems are constructed and designed. There is something about unravelling the thoughts of someone else that I find very rewarding. Code and software have given me an outlet that I would never have imagined possible to explore and learn from. If you want to follow along with my
                adventures in code, you can find me over at <a href="http://codebetter.com/drusellers">CodeBetter</a> </p>
                <p>You can also see some of my work at: <a href="http://github.com/drusellers">github</a></p>


                <h3>V23 Athletics</h3>
                <p><img src="/images/v23.png" /> I have also started my own apparel company, called <a target="_blank" href="http://v23athletics.com">V23 Athletics</a>. Our goal is to bring top of the line fabrics to the seekers of fitness.</p>

                <h3>I work out</h3>
                <p>I also spend an inordinate amount of time working out, trying to
                    stay fit and in shape so that I can keep coding for as long as
                    possible. I coded up a fun <a href="/prs">pr board</a> for
                    myself.</p>
                <p>I also enjoy typography and I have laid out one of my favorite essays by Henry Rollins called <a href="/iron">Iron and the Soul</a>, I am playing with media queries and a little web typography geekery</p>
              </div>
                <div class="props">
                    <h3>Props</h3>
                    <p>Logo design by the <a href="http://www.theagilebadger.com">Agile Badger</a></p>
                    <p>Colors inspired by '<a href="http://kuler.adobe.com/">Kuler</a>'</p>
                    <p>Photo by <a href="http://b7creative.com/">B7Creative</a></p>
                </div>
                <div class="zen">
                    <h3>A little zen</h3>
                    <p>Water is fluid, soft and yielding. But water will wear away rock, which is rigid and cannot yield. As a rule, whatever is fluid, soft and yielding will overcome whatever is rigid and hard. This is another paradox: what is soft is strong.</p>
                    <p><em>Lao-tzu</em></p>
                    <h3>The Grind is the Glam</h3>
                    <p>Live for the moment! Do what you love. If you can
                    acheive this then the grind will be glamourous. Just as it
                    seems glamourous to me what rock stars get to do everyday I
                    know that to them its just another day in the grind. So if
                    you are going to have to do the work, it should at least be
                    something you love.</p>
                    <p><em>Me via Jeff McKinney and Carl Paoli</em></p>
                    <h3>More Quotes </h3>
                    <p>I collect inspirational quotes: <a href="http://drusellers.tumblr.com">here</a></p>
                </div>
                <div class="boring">
                    <h3>Boring</h3>
                    <p>
                    Copyright since &copy;1997<br/>
                    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">
                        <img alt="Creative Commons License" style="border-width:0;" src="http://i.creativecommons.org/l/by/3.0/us/80x15.png"/>
                    </a>
                    This work is licensed under a
                    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a>.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
