<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

    <title>{{title}}</title>

    <link rel="openid.server" href="http://www.myopenid.com/server" />
    <link rel="openid.delegate" href="http://drusellers.myopenid.com/" />

    <link title="drusellers-rss" type="application/rss+xml" rel="alternate" href="http://feeds.feedburner.com/drusellers" />
    <link title="drusellers-atom" type="application/atom+xml" rel="alternate" href="http://feeds.feedburner.com/drusellers" />

    <link rel="stylesheet" href="/styles/css/base.css" type="text/css" media="screen" />

    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="scripts/jquery.formalize.js"></script>

    <script type="text/javascript" src="/scripts/d3.v3.js"></script>
    <script type="text/javascript" src="/scripts/require.js"></script>
    <script type="text/javascript" src="/scripts/loader.js"></script>
  </head>
  <body id="{{body_id}}">
    <div class="container">
      <div class="header">
        <div class="logo">
            <img src="images/logo-black.png" alt="Dru Sellers" />
        </div>
        <div class="details">
          <div id="hcard-Dru-Sellers" class="vcard">
            <span class="fn">Dru Sellers</span>
            <div class="email"><a href="mailto:dru@drusellers.com">dru@drusellers.com</a></div>
            <div class="twitter"><a href="http://twitter.com/drusellers">@drusellers</a></div>
            <div class="adr">
                <div class="street-address"></div>
                <span class="locality">Austin</span>,
                <span class="region">TX</span>
                <span class="postal-code">78723</span>
                <span class="country-name">USA</span>
            </div>
            <div class="tel">+1 785/371-4589</div>
          </div><!-- /hcard -->
        </div>
      </div><!-- /header -->
    </div>

    <div style="clear:both;"></div>

    {{{body}}}

    <div style="clear:both;"></div>

    <div class="container">
      <div class="footer">
        <div class="props">
          <h3>Props</h3>
          <p>Logo design by the <a href="http://www.theagilebadger.com">Agile Badger</a></p>
          <p>Colors inspired by '<a href="http://kuler.adobe.com/">Kuler</a>'</p>
          <p>Photo by <a href="http://b7creative.com/">B7Creative</a></p>
        </div>
        <div class="boring">
          <h3>Boring</h3>
          <p>
          Copyright since &copy;1997
          <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">
            <img alt="Creative Commons License" style="border-width:0;" src="http://i.creativecommons.org/l/by/3.0/us/80x15.png"/>
          </a>
          This work is licensed under a
          <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a>.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
