<div class="main_content">
  <h1>PR Board</h1>
  <div class="scores">
    {{#each scores}}
    <div class="score">
      <h2>{{movement}}</h2>
      <p>{{score}}</p>
    </div>
    {{/each}}
    <div style="clear:both;"></div>
  </div>
</div>
<div class="stats" data-module="stats" data-params="{}"></div>
