<div class="container">
  <!-- play with print styles here -->


  <div class="body">


    <h2>Resume</h2>

    <div class="pic"><img src="/images/pic.png" /></div>

    <blockquote>
      Application developer with over {{exp}} years of broad business and technical expertise. Experience is focused on building and architecting distributed .Net applications
    </blockquote>

    <h3>Work Experience</h3>

    <div class="experience">
      <h4>Motorsport Aftermarket Group <small><a href="http://www.maggroup.com/" target="_blank">maggroup.com <i class="fa fa-external-link-square"></i></a></small></h4>
      <ul>
        <li class="title">
          Software Architect
        </li>
        <li class="time">
          September 2014 - Present
        </li>
      </ul>

      <div style="clear:both;"></div>

      <p>
        While at MAG, I worked with a distributed team located across the country
        to build a multi-tenant fulfillment layer on top of two different ERP
        systems allowing the heterogeneous environment of a $1 billion multi-divison
        company to transition to the new ERP as it made business sense.
      </p>
      <p>
        I choose this opportunity becaues it would allow me to reexplore the larger
        Enterprise Architecture concepts that only show up in large companies.
        Additionally, it wolud build on top of my fulfillment domain knowledge
        that I started with V23 Athletics and Amplifier. In addition, I would
        have the pleasure of finally working with some <a href="https://twitter.com/dahlbyk" target="_blank">long</a>
        time <a href="https://twitter.com/TimBarcz" target="_blank">friends</a>.
      </p>
    </div>
    <div class="experience">
      <h4>V23 Athletics</h4>
      <ul>
        <li class="title">
          Co-Owner
        </li>
        <li class="time">
          February 2012 - December 2015
        </li>
      </ul>

      <div style="clear:both;"></div>

      <p>
        I was part of a small team that built a small, local athletic apparel company.
      </p>
      <p>
        I embarked on this journe to try and get a different perspective on the
        software development lifecycle. Being the one that has to make the large
        and sometimes boring decisions. How will that impact the company's bottom
        line? What all do we REALLY need? Its was a great process of exploring
        and understanding all aspects of running a business.
      </p>
    </div>
    <div class="experience">
      <h4>Amplifier <small><a href="http://amplifier.com/" target="_blank">amplifier.com <i class="fa fa-external-link-square"></i></a></small></h4>
      <ul>
        <li class="title">
          Senior Software Engineer
        </li>
        <li class="time">
          November 2013 - September 2014
        </li>
      </ul>

      <div style="clear:both;"></div>

      <p>
        I worked closely with a small team to produce and support Amplifier.com. My responsibilities include product feature work, support, and product analysis.
      </p>

      <p>
        I choose to take this job because I would be working on problems that involved the 'real' world. Amplifier ships products around the world and having actual people and physical plants involved in the process brings about new and unique challenges.
      </p>
    </div>
    <div class="experience">
      <h4>Dovetail Software <small><a href="http://dovetailsoftware.com/" target="_blank">dovetailsoftware.com <i class="fa fa-external-link-square"></i></a></small></h4>
      <ul>
        <li class="title">
          Senior Software Engineer
        </li>
        <li class="time">
          April 2011 - November 2013
        </li>
      </ul>

      <div style="clear:both;"></div>

      <p>
        I worked closely with a small team to produce and support the Dovetail Employee Engagement Suite. My responsibilities included product feature work, mentoring staff, providing technical architecture direction, streamlining deployments and UI work.
      </p>

      <p>
        I choose to take this job because of the team's reputation for a high commitment to software development quality, an intense focus on testing, and compositional programming. I was pushed to grow as a developer, and in return I was able to bring the architectural and people skills from my former position.
      </p>
    </div>
    <div class="experience">
      <h4>Federal Home Loan Bank of Topeka <small><a href="http://fhlbtopeka.com/" target="_blank">fhlbtopeka.com <i class="fa fa-external-link-square"></i></a></small></h4>
      <ul>
        <li class="title">
          Solution Architect
        </li>
        <li class="time">
          May 2007 - April 2011
        </li>
      </ul>

      <div style="clear:both;"></div>

      <p>
        I worked with the Enterprise Architect to plan and build over 90 different internal applications to support various business processes; including a data warehouse, various data retention plans, and several line of business applications. I supervised the code quality of 15 different developers to make sure our software principles were maintained while still meeting the business’ need for applications to be delivered. As a staff position I had to provide a business value reason for most of my recommendations, rather than direct edicts.
      </p><p>
        I choose this job because I would be leading a team of developers in producing software that managed $56 billion in assets. While at the bank, I was pushed to explain technical concepts in terms that CXOs and VPs could understand, while at the same time making sure technical decisions were in lock step with the business’s long term goals.
      </p>
    </div>

    <h3>Education</h3>
    <div class="education">
      <h4> Baker University <small><a href="http://www.bakeru.edu/" target="_blank">bakeru.edu <i class="fa fa-external-link-square"></i></a></small></h4>
      <ul>
        <li class="title">
          Bachelors of Arts in International Business <smalL>with a minor in Economics</small>
        </li>
        <li class="time">
          Fall 1997 - Spring 2001
        </li>
      </ul>

    </div>

    <div style="clear:both;"></div>

    <h3 style="margin-top:2em;">Community Activities</h3>
    <ul class="activities">
      <li>Presenter at local, regional, and international conferences on software development practices</li>
      <li>Recognized as a INETA Community Champion Q2 2010 for my OSS work</li>
      <li>Avid contributor to and maintainer of open source projects</li>
      <li>Member of local .Net user groups.</li>
      <li>Trustee to my fraternity 2005 - 2011</li>
      <li>Member of the Baker University Alumni Board 2007-2011</li>
    </ul>

  </div>

</div>
