<div class="container">
  <div class="header">
    <div class="logo">
        <img src="images/logo-black.png" alt="Dru Sellers" />
    </div>
    <div class="details">
      <div id="hcard-Dru-Sellers" class="vcard">
        <span class="fn">Dru Sellers</span>
        <div class="email"><a href="mailto:dru@drusellers.com">dru@drusellers.com</a></div>
        <div class="twitter"><a href="http://twitter.com/drusellers">@drusellers</a></div>
        <div class="adr">
            <div class="street-address"></div>
            <span class="locality">Austin</span>,
            <span class="region">TX</span>
            <span class="postal-code">78723</span>
            <span class="country-name">USA</span>
        </div>
        <div class="tel">+1 785/371-4589</div>
      </div><!-- /hcard -->
    </div>
  </div><!-- /header -->

  <div style="clear:both;"></div>

  <!-- play with print styles here -->


  <div class="xxx">

    <h2>Resume</h2>

    <div>pic</div>

    <blockquote>
      Application developer with over {{exp}} years of broad business and technical expertise Experience is focused on building and architecting .Net applications
    </blockquote>

    <h3>Work Experience</h3>
    <div class="experience">
      <h4>Dovetail Software</h4>
      <p>stuff</p>
    </div>
    <div class="experience">
      <h4>Federal Home Loan Bank of Topeka</h4>
      <p>
        I worked with the Enterprise Architect to plan and build over 90 different internal applications to support various business processes; including a data warehouse, various data retention plans, and several line of business applications. I supervised the code quality of 15 different developers to make sure our software principles were maintained while still meeting the business’ need for applications to be delivered. As a staff position I had to provide a business value reason for most of my recommendations, rather than direct edicts.
      </p><p>
        I choose this job because I would be leading a team of developers in producing software that managed $56 billion in assets. While at the bank, I was pushed to explain technical concepts in terms that CXOs and VPs could understand, while at the same time making sure technical decisions were in lock step with the business’s long term goals.
      </p>
    </div>

    <h3>Education</h3>
    <div class="education">
      <h4>Baker University</h4>
      <p>stuff</p>
    </div>

    <h3>Community Activities</h3>
    <ul class="activities">
      <li>aoeu</li>
    </ul>

  </div>

</div>
