<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
	<head>
		<title>Dru Sellers</title>

		<link rel="openid.server" href="http://www.myopenid.com/server">
		<link rel="openid.delegate" href="http://drusellers.myopenid.com/">

		<link title="drusellers-rss" type="application/rss+xml" rel="alternate" href="http://feeds.feedburner.com/drusellers" >
		<link title="drusellers-atom" type="application/atom+xml" rel="alternate" href="http://feeds.feedburner.com/drusellers" >

		<link rel="stylesheet" href="styles/print.css" type="text/css" media="print" charset="utf-8">
		<link rel="stylesheet" href="styles/screen.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="styles/base.css" type="text/css" media="screen" charset="utf-8">
	</head>
	<body>
	<!-- inspiration: http://secondandpark.com/ -->
	<!-- jhttp://www.joyent.com/ - style-->
	<!-- http://www.wallst.com/business.asp - content ideas-->
	<div id="header">
		<div class="container">
			<div class="span-16">
				<img src="images/logo-black.png" />
			</div>
			<div class="span-8 last">
				<div id="hcard-Dru-Sellers" class="vcard">
	                <span class="fn">Dru Sellers</span>
	                <div class="email">dru {at} drusellers {dot} com</div>
	                <div class="twitter"><a href="http://twitter.com/drusellers">@drusellers</a></div>
					<div class="blog"><a href="http://drusellers.codebetter.com/">blog</a></div>
	                <div class="adr">
	                    <div class="street-address"></div>
	                    <span class="locality">Lawrence</span>
	                    , 
	                    <span class="region">KS</span>
	                    , 
	                    <span class="postal-code">66049</span>
	                    <span class="country-name">USA</span>
	                </div>
	                <div class="tel">+1 785/371-4589</div>
	            </div><!-- /hcard -->
			</div>
		</div>
	</div><!-- /header -->
	<div class="container">
		<hr/>
    <a href="http://github.com/drusellers">github</a>
		<h1>Skills</h1>
		<table>
			<thead>
				<tr>
					<th>Programming Languages</th>
					<th>Proficiency</th>
					<th>Notes</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Statically Typed</td>
					<td>Strong</td>
					<td>.Net</td>
				</tr>
				<tr>
					<td>Dynamically Typed</td>
					<td>Y</td>
					<td>Python and Ruby</td>
				</tr>
				<tr>
					<td>Prototype-based</td>
					<td>Y</td>
					<td>Played with Node.js</td>
				<tr>
			</tbody>
		</table>	
		<table>
			<thead>
				<tr>
					<th>Technology</th>
					<th>Proficiency</th>
					<th>Notes</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Relational Databases</td>
					<td>Y</td>
					<td>Strong MS SQL and Postgres<td>
				</tr>
				<tr>
					<td>Key/Value Stores</td>
					<td>Y</td>
					<td>Mostly memcached work</td>
				</tr>
				<tr>
					<td>Message Queues</td>
					<td>Y</td>
					<td>MSMQ, RabbitMQ</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="footer">
		<div class="container">
		<div class="span-24">
			<div class="span-8">
				<h3>Boring</h3>
				<p>
					Copyright since &copy;1997<br/>
					<a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">
						<img alt="Creative Commons License" style="border-width:0;" src="http://i.creativecommons.org/l/by/3.0/us/80x15.png"/>
					</a>
					This work is licensed under a 
					<a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a>.
			</div>
			<div class="span-8">
				<h3>Props</h3>
				<p>Logo design by the <a href="http://www.theagilebadger.com">Agile Badger</a></p>
				
				</p>
			</div>
			<div class="span-8 last">
				<h3>something</h3>
			</div>
		</div>
		</div>
	</div>
	</body>
</html>
