<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
	<head>
		<title>Dru Sellers - training</title>

		<link rel="openid.server" href="http://www.myopenid.com/server">
		<link rel="openid.delegate" href="http://drusellers.myopenid.com/">

		<link title="drusellers-rss" type="application/rss+xml" rel="alternate" href="http://feeds.feedburner.com/drusellers" >
		<link title="drusellers-atom" type="application/atom+xml" rel="alternate" href="http://feeds.feedburner.com/drusellers" >

		<link rel="stylesheet" href="styles/print.css" type="text/css" media="print" charset="utf-8">
		<link rel="stylesheet" href="styles/screen.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="styles/plugins/fancy-type/screen.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="styles/base.css" type="text/css" media="screen" charset="utf-8">
  </head>
  <body>
    <div class="container">	
        <div id="logo" class="span-24">
			<h1><img src="images/logo-black.png" style="height:50px;width:139px;" /> Training<h1>
        </div> <!-- /logo -->

        <hr/>

        <div class="span-11 colborder">
			<h1>Engage</h1>
			<h4><span class="alt">Duration:</span> 3 days</h4>
            <p>
                Engage is a three day workshop that will introduce you to a  set of pragmatic tools and methods, that you can use to 'tune' your IT Department.
            </p>
            <p>
                With a thorough discussion of automated builds, deployments, and versioning we will overcome a majority of the drudgery in application development.
                (builds, deployments, analysis, databases, assemblyline, versioning, warmup)
            </p>
            <p>
                An overview of architectures that are available to us with today's technologies will enable a more predictable work flow and one that is easy to test against.
                (viking, sharding, insert only, memcache, multi-tenant?, message based, IoComm)
            </p>
            <h2>Outcome / What to Expect?</h2>
			<p>
                This course will push you to expand your mind and challenge the conventional wisdom.
			</p>
			             
					</div>
		<div class="span-6">
			<h3>Topics</h3>
             <ul>
                 <li>Automated Builds</li>
                 <li>Automated Deployments</li>
                 <li>Inversion of Control</li>
                 <li>Inversion of Communication</li>
                 <li>Intermediate NHibernate Concepts</li>
				<!-- coming soon?
                 <li>Systems Thinking</li>
                 <li>Queueing Theory</li>
                 <li>Quality Based Development</li>
				<li>Teaching</li>
				<li>System Architecture</li>
				<li>Non-Relational Databases</li>
			-->
             </ul>
		</div>
      <div id="others" class="span-5 last">
			<h3>Recommendations</h3>
			<div class="span-5">
				<h6>Chris</h6>
				<p><img src="images/chris.jpg" />Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			<div class="span-5 last">
				<h6>Tim</h6>
				<p><img src="images/tim.jpg" />Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			<div class="span-5">
				<h6>Evan</h6>
				<p><img src="images/evan.jpg" />Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
			<div class="span-5 last">
				<h6>Jeremy</h6>
				<p><img src="images/jeremy.jpg" />Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
        </div><!-- /others -->
	      <hr/>
	    <div class="span-7 colborder">
            <h6>Finding Value</h6>
            <p>
                Technology can bring benefits if and only if it diminishes a limitation.<br/>
                <em>- Goldratt</em>
            </p>
        </div>
        <div class="span-8 colborder">
            <h6>Becoming Citizens</h6>
            <p>Opening a dialogue about our responsibilities as technical leaders for our businesses.</p>
        </div>
        <div class="span-7 last">
            <h6>Acting, Not Reacting</h6>
            <p>Acting on the unfolding of events is far easier, than reacting to them. How can we prepare to act on the future then?</p>
        </div>
        <hr/>
	<div class="span-24">
		<blockquote>"Knowledge is the only kind of wealth that multiplies when you give it away." -Peter Schwartz</blockquote>
			<hr/>
	      <div class="span-24">
	          <div class="span-11 colborder">	
	              <h3>Materials</h3>
					<p>
						Before arriving for the training please have the following ready:
					</p>
					<ul>
						<li>Laptop</li>
						<li>Comfortable with unit testing</li>
						<li>NHibernate</li>
						<li>Windsor/StructureMap</li>
						<li></li>
						<li></li>
					</ul>
	          </div>
	          <div class="span-12 last">
				<h3>Pre-reading</h3>
					<p>
						Before arriving for the training please read the following:
					</p>
				<ul>
					<li>A recent HBR article (please bring with you)</li>
					<li>Udi - IDog2 / Arnon?</li>
					<li>cassandra (just to warp their minds?) maybe a series of big table?</li>
					<li></li>
					<li>Ideal design in corporate future</li>
					<li>Domain Driven Design (optional but helpful) - can I spec a chapter?</li>
				</ul>
	          </div>
	      </div>
        <hr/>
        <div id="footer" class="span-24">
            <div class="span-11 colborder">
                <h3>Props</h3>
                <p>Logo design by the <a href="http://www.theagilebadger.com">Agile Badger</a></p>
                <p>CSS made easier with <a href="http://www.blueprintcss.org/">blueprint css</a></p>
                <h4>Boring</h4>
                <p>
                    Copy(my)right since &copy;1997<br/>
                    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">
                        <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/us/80x15.png"/>
                    </a><br/>
                    This work is licensed under a <br/>
                    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a>.
                </p>
            </div>
            <div class="span-12 last">
                <h3>Contact Info</h3>
                <div id="hcard-Dru-Sellers" class="vcard">
                    <span class="fn">Dru Sellers</span>
                    <div class="email">dru {at} drusellers {dot} com</div>
                    <div class="adr">
                        <div class="street-address"></div>
                        <span class="locality">Lawrence</span>
                        , 
                        <span class="region">KS</span>
                        , 
                        <span class="postal-code">66049</span>
                        <span class="country-name">USA</span>
                    </div>
                    <div class="tel">+1 785/371-4589</div>
                </div><!-- /hcard -->
            </div>
      </div><!-- /footer -->

    </div><!-- /.container -->
  </body>
</html>
