<div class="container">
  <ul>
  <li>
    <a href="http://stilldrinking.org/programming-sucks">Programming Sucks</a>
  </li>
  <li>
    <a href="http://randsinrepose.com/archives/a-nerd-in-a-cave/">A nerd in a cave</a>
  </li>
  </ul>
</div>
