$pink: #ee88cd;
$fresh_green: #558822;
$brown: #57470c;
$white: #fff;
$gray: #777;
$dark_grey: #373c40;
$blue: #011C26;
$background: #F4F5F5;
$black : #000;
$white : #fff;
$seagreen:#588c8c;
$grayLighter:#eee;
$darkblue:#011c26;

//bahamas
$color1:#003056;
$color2:#04518c;
$color3:#00A1D9;
$color4:#47d9bf;
$color5:#f2d03b;

//$link_color:$fresh_green;
//$heading_color: $blue;
$link_color:lighten(#207178,15%);
$heading_color: $color3;
$copy_color:$gray;
