
$darkblue:#011c26;

#header {
    margin-top:40px;

    .center {
        margin:0 auto;
        width:600px;
    }

    .logo {
        @include column(8);
    }
    .details {
        @include column(4);
    }
}


#imgbar {
    margin-top:40px;

    .images {
        @include column(12);
    }

    .center {
        margin:0 auto;
        width:600px;
    }

    img {
    }
}


#footer {
    background: #fff;
    margin-top: 40px;
    padding-top: 5px;
    overflow:hidden;

    .center {
        margin: 0 auto;
        width:600px;
    }
    h3 {
        color:#588c8c;
    }
    img {
        margin: 0;
        float: none;
    }

    .links {
        @include column(4);
    }
    .props {
        @include column(4);
    }
    .zen, .birds {
        @include column(4);
    }
    .boring {
        @include column(12);
    }
}
