#home {
    blockquote {
        padding-top: 2em;
        overflow: hidden; /* clearfix alternative */
        font-size: 18px;
        line-height: 150%;
        color: $fresh_green;
        margin:0;
    }

    blockquote:before {
        font-family: 'Lucida Grande', Verdana, helvetica, sans-serif;
        display: block;
        float: left;
        margin: 10px 10px 0 0;
        font-size: 60px; /* let's make it a big quote! */
        content: open-quote; /* here we define our :before as a smart quote. It could be any content, even the HTML entity alternative to this opening quote, that is “ */
        color: darken($fresh_green, 0.5);
        text-shadow: 0 1px 1px #909090;
    }
}


.imgbar {
    margin-top:30px;


    @include respond-to(handhelds) {
      height:186px;
      background-image:url(/images/cooking-small.jpg);
    }
    @include respond-to(medium-screens) {
      height:266px;
      background-image:url(/images/cooking-medium.jpg);
    }
    @include respond-to(wide-screens) {
      height:399px;
      background-image:url(/images/cooking.jpg);
    }

}


.role {
  width:100%;

  .resources {
    clear:both;
    list-style: none;
    float:left;
    width:100%;
    padding:0;
    margin:0 0 10px 0;

    li {
      float:left;

      padding:5px;
      @include rounded();
      margin:0;

      position: relative;
      margin-right:10px;
      background: lighten($grayLighter, 3%);
    }
  }
}

.quotes {
  margin-top:3em;

  ul {
    list-style: none;
    width:100%;
    margin:0;
    padding:0;
  }
  li {

    @include respond-to(handhelds) { @include full(); }
    @include respond-to(medium-screens) { @include full(); }
    @include respond-to(wide-screens) { @include column(6); }
  }
}

