#iron {

	.container {
		width:500px;
		margin: 0 auto;
	}

	h1 {
		small {
			color: $dark_grey;
			display:block;
			clear:both;
		}
	}

	@media only screen
		and (min-device-width : 320px)
		and (max-device-width : 480px)
		and (orientation : portrait) {
			.container {
				width:280px;
			}
		}

	@media only screen
		and (min-device-width : 320px)
		and (max-device-width : 480px)
		and (orientation : landscape) {
			.container {
				width:400px;
			}
	}

	@media all and (max-width: 700px) and (min-width: 501px) {
		.container {
			width:400px;
		}
	}


	.source {
		margin-top:40px;
		padding-top:20px;
		border-top: 1px dotted $dark_grey;
		color:$gray;
	}
}
