

  .container {
    width:600px;
    margin: 0 auto;

    @media only screen
      and (min-device-width : 320px)
      and (max-device-width : 480px)
      and (orientation : portrait) {
          width:280px;
    }


    @media only screen
      and (min-device-width : 320px)
      and (max-device-width : 480px)
      and (orientation : landscape) {
          width:400px;
    }

    @media all and (max-width: 700px) and (min-width: 501px) {
        width:400px;
    }
  }



