
dl dt {
    margin-top: 10px;
    font-size: 120%;
    color: $color2;
}

hr {
    clear:both;
    display:block;
    margin: 20px 0 19px;
    border:0;
    border-bottom:1px solid $grayLighter;
    border-style:inset;
}
