#resume {

  .body {
    position:relative;

    blockquote {
      font-style: italic;
      margin-left:2em;

      @include respond-to(handhelds) { margin-left:0; }
      @include respond-to(medium-screens) { margin-left:0; }
      @include respond-to(wide-screens) { margin-left:2em; }
    }



    .pic {
      @include respond-to(handhelds) { display:none; }
      @include respond-to(medium-screens) { display:none; }
      @include respond-to(wide-screens) {
        position:absolute;
        left:-350px;
        top:0px;
      }
    }
  }

  ul {
    list-style: none;
    margin:0;
    padding:0;
  }

  ul.activities {
    li {
      margin-bottom:1.25em;
      margin-left:2em;
    }
  }
  .experience, .education {

    margin-left:2em;
    h4 {
      margin-bottom:0;
      margin-left:-1em;
    }
    ul {
      .title {
        color:darken($copy_color, 20%);
        font-weight:bold;
        float:left;

        small {
          color:$copy_color;
          font-weight: normal;
        }
      }

      .time {
        float:right;
      }
    }
  }
}
