#pr {
    background:#222;
    background-image:url(../../images/blurry.jpg);

    table {

    }

    h1 {
        color:#222;
        margin:0;
        font-size: 3em;
    }

    .main_content {
        margin:0 auto;
        margin-top:50px;
        width:600px;

        background:rgba(#FFF, 0.3);

        padding:10px;
        @include rounded;

        color:darken($dark_grey,0.5);
    }


    #prboard {
        width:100%;
        font-size:2em;
        color:#000;
        th {
            text-align: left;

          &:last-child {
            text-align:right;
          }
        }
        td {
            font-family:'PermanentMarkerRegular';
        }
    }

    .scoreitem {
      -webkit-animation: grow 1s 1; /* Saf5, Chrome */
         -moz-animation: grow 1s 1; /* FF5+ */
          -ms-animation: grow 1s 1; /* IE10 */

          text-align:right;

          &.done {
            color:#000;
          }
    }
}





@-webkit-keyframes grow {
  0%   { opacity:0; @include scale(0.8)}
  50%  { opacity:0.5;}
   75% { @include scale(1.2); }
  100% { opacity:1; @include scale(1);}
}
@-moz-keyframes grow {
  0%   { opacity:0; }
  50%  { opacity:0.5; }
  100% { opacity:1;
  @include scale(1);
  }
}
@-ms-keyframes grow {
  0%   { opacity:0; }
  50%  { opacity:0.5; }
  100% { opacity:1;
    @include scale(1);
  }
}
