$body_copy: "Helvetica Neue", Helvetica, Arial, sans-serif;
$title_copy: "Helvetica Neue", Helvetica, Arial, sans-serif;
$callout_copy: "Helvetica Neue", Helvetica, Arial, sans-serif;
$code_copy: "Helvetica Neue", Helvetica, Arial, sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $title_copy;
}

body, p {
  font-family: $body_copy;
}
