
$pink: #ee88cd;
$fresh_green: #558822;
$brown: #57470c;
$white: #fff;
$gray: #777;
$dark_grey: #373c40;
$blue: #011C26;
$background: #F4F5F5;
$black : #000;
$white : #fff;
$seagreen:#588c8c;
$grayLighter:#eee;

//bahamas
$color1:#003056;
$color2:#04518c;
$color3:#00A1D9;
$color4:#47d9bf;
$color5:#f2d03b;

//$link_color:$fresh_green;
//$heading_color: $blue;
$link_color:lighten(#207178,15%);
$heading_color: $color3;
$copy_color:$gray;

@import "compass/css3";

@import "mixins";
@import "grid";
@import "font";
@import "score";
@import "home";
@import "iron";

body {
  color: $copy_color;
  background: $white;
  padding-bottom: 0;
  margin:0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  color: $gray;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading_color;
}
h3 {
  font-size:1.3em;
  margin:0;
  line-height: 1em;

}
ul {
  color: $copy_color;
}

a {
  color: $link_color;
  text-decoration: none; }
  a.block {
    display: block;
    padding: 1%;
    font-size: 140%;
    border-bottom: 1px solid #cccccc; }

dl dt {
    margin-top: 10px;
    font-size: 120%;
    color: $fresh_green;
}
hr {
    clear:both;
    display:block;
    margin: 20px 0 19px;
    border:0;
    border-bottom:1px solid $grayLighter;
    border-style:inset;
}



