@import "compass/css3";
@import "colors";
@import "mixins";
@import "grid";
@import "layout";
@import "font";

@import "home";
@import "iron";
@import "resume";

@import "prboard";

body {
  color: $copy_color;
  background: $white;
  padding-bottom: 0;
  margin:0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  color: $gray;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading_color;
}

h3 {
  font-size:1.3em;
  margin:0;
  line-height: 1em;

}
ul {
  color: $copy_color;
}

a {
  color: $link_color;
  text-decoration: none; }
  a.block {
    display: block;
    padding: 1%;
    font-size: 140%;
    border-bottom: 1px solid #cccccc; }

dl dt {
    margin-top: 10px;
    font-size: 120%;
    color: $fresh_green;
}
hr {
    clear:both;
    display:block;
    margin: 20px 0 19px;
    border:0;
    border-bottom:1px solid $grayLighter;
    border-style:inset;
}

.header {
    margin-top:2em;

    .logo {
        @include column(8);
    }
    .details {
        @include column(4);
        font-size:0.92em;
        text-align:right;
    }
}

.footer {
  @include column(12);
    background: $grayLighter;
    margin-top: 20px;
    padding-top: 5px;
    overflow:hidden;

    h3 {
        color:#588c8c;
    }

    img {
        margin: 0;
    }

    .props, .boring {
        @include column(6);
    }
}


