<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Dru Sellers</title>

        <link rel="openid.server" href="http://www.myopenid.com/server" />
        <link rel="openid.delegate" href="http://drusellers.myopenid.com/" />

        <link title="drusellers-rss" type="application/rss+xml" rel="alternate" href="http://feeds.feedburner.com/drusellers" />
        <link title="drusellers-atom" type="application/atom+xml" rel="alternate" href="http://feeds.feedburner.com/drusellers" />

        <link rel="stylesheet" href="static/styles/960.css" type="text/css" media="screen" />

        {% assets "all-css" %}
        <link rel="stylesheet" href="{{ASSET_URL}}" type="text/css" media="screen" />
        {% endassets %}

        <script type="text/javascript" src="static/scripts/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="static/scripts/jquery.formalize.js"></script>
    </head>
    <body>
        <!-- inspiration: http://secondandpark.com/ -->
        <!-- http://www.joyent.com/ - style-->
        <!-- http://www.wallst.com/business.asp - content ideas-->
        <div id="header">
            <div class="container_12">
                <div class="grid_10">
                    <img src="static/images/logo-black.png" alt="Dru Sellers" />
                </div>
                <div class="grid_2 omega">
                    <div id="hcard-Dru-Sellers" class="vcard">
                        <span class="fn">Dru Sellers</span>
                        <div class="email"><a href="mailto:dru@drusellers.com">dru@drusellers.com</a></div>
                        <div class="twitter"><a href="http://twitter.com/drusellers">@drusellers</a></div>
                        <div class="adr">
                            <div class="street-address"></div>
                            <span class="locality">Austin</span>,
                            <span class="region">TX</span>
                            <span class="postal-code">78759</span>
                            <span class="country-name">USA</span>
                        </div>
                        <div class="tel">+1 785/371-4589</div>
                    </div><!-- /hcard -->
                </div>
            </div>
        </div><!-- /header -->
        <div class="container_12 tabla">
          <h1>A Curious Mind</h1>
          <div class="imgbar" class="grid_12">
            <img src="/static/images/home_1.png" />
            <img src="/static/images/home_2.png" />
            <img src="/static/images/home_3.png" />
            <img src="/static/images/home_4.png" />
            <img src="/static/images/home_5.png" />
            <img src="/static/images/home_6.png" />
          </div>
          <div class="grid_3">
            <h2>Code </h2>
            <p>Code. Software Development. Geek. Yup, that sounds like me. If you want to follow along with my 
            adventures in code, you can find me over at <a href="http://codebetter.com/drusellers">CodeBetter</a> </p>
            <p>You can also see some of my work at: <a href="http://github.com/drusellers">github</a></p>
          </div>
          <div class="grid_3">
            <h2>CrossFit</h2>
            <p>On top of being a software developer, I am also an avid participant in amateur level CrossFit competitions. 
               I love the sport and the people that I have met. I train at <a href="http://www.crossfitcentral.com">
               CrossFit Central</a> in Austin, TX.
            </p>
          </div>
          <div class="grid_3">
            <h2>Quotes </h2>
              <p>I collect inspirational quotes: <a href="http://drusellers.tumblr.com">here</a></p>
          </div>
          <div class="grid_3 omega v23">
            <h2>V23 Athletics</h2>
            <p><img src="/static/images/v23.png" /> I have also started my own apparel company, called <a href="http://v23athletics.com">V23 Athletics</a>. Our goal is to bring top of the line fabrics to the seekers of fitness.</p>
          </div>
        </div>
            <hr/>
<!--
        <div class="container_12">
          <div class="grid_12">
            <h3>The Book</h3>
          </div>
          <div class="grid_3">
            <p>I am currently trying to write a book. My goal is to publish the book on this site as I finish sections of it.</p>
          </div>
          <div class="grid_9 omega">
            <p><a href="#">Chapter 1</a></p>
            <p><a href="#">Chapter 2</a></p>

          </div>
        </div>
-->
        <div class="container_12 projects">
          <div class="grid_12">
            <h3>OSS Projects</h3>
          </div>
          <div class="grid_3">
            <p>I am also a frequent contributor to open source software projects, as well as the maintainer on several of my own.</p>
          </div>
          <div class="grid_3">
            <p><a target="_blank" href="http://masstransit-project.com/">MassTransit</a></p>
            <p><img src="/static/images/masstransit.png" />A framework for hosting event driven code responding to durable messaging</p>
          </div>
          <div class="grid_3">
            <p><a target="_blank" href="http://topshelf-project.com">Topshelf</a></p>
            <p><img src="/static/images/topshelf.png"/> An framework for simplifing service hosting on the Windows and Unix operating systems</p>

          </div>
          <div class="grid_3 omega">
            <p><a target="_blank" href="http://fubu-project.org/">FubuMVC</a></p>
            <p><img src="/static/images/fubumvc.png" /> An alternative web framework for building complex web applications</p>
          </div>
        </div>
        <div id="footer">
            <div class="container_12">
                <div class="grid_4">
<!--
                    <h3>Contact Me</h3>
                    <form class="form-stacked" action="/send_email" method="POST">
                      <div class="clearfix">
                        <label>Name</label>
                        <div class="input">
                          <input type="text" name="name" />
                        </div>
                      </div>
                      <div class="clearfix">
                        <label>Email</label>
                        <div class="input">
                          <input type="email" name="email" />
                        </div>
                      </div>
                      <div class="clearfix"> 
                        <label>Message</label>
                        <div class="input">
                          <textarea name="message" rows="10"></textarea>
                        </div>
                      </div>
                      <div class="actions">
                        <input type="submit" value="Send" class="btn" />
                      </div>
                    </form>
-->
                </div>
                <div class="grid_4">
                    <h3>Props</h3>
                    <p>Logo design by the <a href="http://www.theagilebadger.com">Agile Badger</a></p>
                    <p>Colors inspired by '<a href="http://kuler.adobe.com/#themeID/1185348">Keep the Change</a>'</p>
                </div>
                <div class="grid_4 omega">
                    <h3>A little zen</h3>
                    <p>Water is fluid, soft and yielding. But water will wear away rock, which is rigid and cannot yield. As a rule, whatever is fluid, soft and yielding will overcome whatever is rigid and hard. This is another paradox: what is soft is strong.</p>
                    <p><em>Lao-tzu</em></p>
                    <h3>The Grind is the Glam</h3>
                    <p>Live for the moment! Do what you love. If you can
                    acheive this then the grind will be glamourous. Just as it
                    seems glamourous to me what rock stars get to do everyday I
                    know that to them its just another day in the grind. So if
                    you are going to have to do the work, it should at least be
                    something you love.</p>
                    <p><em>Me via Jeff McKinney and Carl Paoli</em></p>
                </div>
                <div class="grid_12">
                    <h3>Boring</h3>
                    <p>
                    Copyright since &copy;1997<br/>
                    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">
                        <img alt="Creative Commons License" style="border-width:0;" src="http://i.creativecommons.org/l/by/3.0/us/80x15.png"/>
                    </a>
                    This work is licensed under a 
                    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a>.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
