body {
  color: #777777;
  background: white;
  margin-top: 0;
  margin-bottom: 0; }

p {
  color: #777777; }

h1, h2, h3, h4, h5, h6 {
  color: #011c26;
  font-family: "georgia", "" Times New Roman ""; }

ul {
  color: #777777; }

a {
  color: #558822;
  text-decoration: none; }
  a.block {
    display: block;
    padding: 1%;
    font-size: 140%;
    border-bottom: 1px solid #cccccc; }

dl dt {
  margin-top: 10px;
  font-size: 120%;
  color: black; }

#epic {
  background: #f4f5f5;
  padding: 1em;
  border: 1px solid #e8e9e9;
  margin-bottom: 1.5em; }
  #epic p {
    font-size: 1.5em; }

.others {
  background: #dddddd;
  padding: 5px; }

#fold {
  background: #f4f5f5 url("../images/gradient.png") repeat-x 0% 0%; }

#stuff a {
  display: block; }
#stuff img {
  margin: 0; }

#footer, #statements {
  margin-top: 10px;
  padding-top: 5px; }

#footer {
  background: #011c26; }
  #footer h3 {
    color: #588c8c; }
  #footer img {
    margin: 0;
    float: none; }

#agile_manifesto li {
  list-style-type: none;
  color: #333333; }
#agile_manifesto strong {
  font-size: 120%; }

#header {
  border-top: 20px solid #011c26; }

.sass {
  background: #ce4dd6;
  padding: 2px;
  color: white; }
